<div class="header">
  <a href="#default" class="logo">
    <img src="/assets/img/app/logo.jpeg" alt="" width="60" height="60" class="d-inline-block align-text-top">
  </a>
  <div class="header-left">
    <div class="input-group">
      <input type="text" class="form-control header-input-search" placeholder="¿Qué productos necesitas?"
        aria-label="Buscar" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2"><i class="bi bi-search"></i></span>
    </div>
  </div>
  <div class="header-right">
    <a class="" routerLink="shopping-cart"><i class="bi bi-bag"></i></a>
    <a class="" routerLink="login"><i class="bi bi-person"></i></a>
  </div>
</div>
<div style="height: 2px;">

</div>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom" aria-label="Twelfth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
      aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">CATEGORIAS</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            <li><a class="dropdown-item" routerLink="category/3">Chifles</a></li>
            <li><a class="dropdown-item" routerLink="category/13">Chicharrones</a></li>
            <li><a class="dropdown-item" routerLink="category/14">Habas</a></li>
            <li><a class="dropdown-item" routerLink="category/15">Maní</a></li>
            <li><a class="dropdown-item" routerLink="category/16">Papas</a></li>
            <li><a class="dropdown-item" routerLink="category/17">Camotes</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="catalogue">CATALOGO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="offer">OFERTAS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="contact">CONTACTANOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="aboutus">SOBRE NOSOTROS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>



<footer>
  <div class="row">
    <div class="col-3">
      <img src="/assets/img/app/logo-footer.jpeg" alt="" width="120" height="120" class="">
      <div class="social-links social-1 col-6">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="col-3">
      <div class="link-cat">
        <span class="footer-cat">Categorias</span>
      </div>
      <ul class="footer-cat-links">
        <li><a routerLink="category/3"><span>Chifles</span></a></li>
        <li><a routerLink="category/13"><span>Chicharrones</span></a></li>
        <li><a routerLink="category/14"><span>Habas</span></a></li>
        <li><a routerLink="category/15"><span>Maní</span></a></li>
        <li><a routerLink="category/16"><span>Papas</span></a></li>
        <li><a routerLink="category/17"><span>Camotes</span></a></li>
      </ul>
    </div>
    <div class="col-3">
      <div class="link-cat">
       
        <span class="footer-cat">Información</span>
      </div>
      <ul class="footer-cat-links">
        <li><a routerLink="aboutus"><span>Sobre nosotros</span></a></li>
        <li><a href=""><span>Envios y devoluciones</span></a></li>
        <li><a routerLink="contact"><span>Consultas y sugerencias</span></a></li>
      </ul>
    </div>
    <div class="col-3" id="newsletter">
      <span>Boletín SNACK MICHEL</span>

      <p>Registrate para enviarte las ultimas ofertas y novedades.</p>
      <form novalidate #form="ngForm" (submit)="onSubmit(form)" id="subscribe">
        <input type="text" id="subscriber-name" name="fullName" #fullName="ngModel" 
        [(ngModel)]="service.formData.fullName" placeholder="Nombre y Apellido" required minlength="5" />
        <br><br>
        <input type="email" id="subscriber-email" name="email" 
        #email="ngModel" [(ngModel)]="service.formData.email" placeholder="Ingresa tu email" required min="5" />

        <input type="submit" value="Suscribirse" id="btn-scribe" [disabled]="form.invalid" />
      </form>
    </div>
  </div>
  <div id="copyright">
    &copy; Todos los derechos reservados 2021
  </div>
  <div id="owner">
    <span>
      Diseñado por <a routerLink="aboutus">Grupo 5</a>
    </span>
  </div>
</footer>