<main class="flex-shrink-0">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h2 class="display-5 fw-bold lh-1 mb-3">Acerca de</h2>
                <p class="lead">Empresa peruana xxxxlorem ipsum dolor sit amet consectetur adipisicing elit. Qui, harum. Error sunt earum 
                    numquam asperiores exercitationem neque. Quas sunt dolorem, ipsa labore iste tempora cum, debitis 
                    consequuntur eum eveniet numquam!
                </p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/assets/img/app/snacks.jpeg" class="d-block mx-lg-auto img-fluid rounded-3 shadow-sm" alt="aboutus" width="500" height="200" loading="lazy">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h2 class="display-5 fw-bold lh-1 mb-3">Nuestro objetivo</h2>
                <p class="lead">Llegar a sus hogares y ser parte de sus momentos especiales, compartir alegrias,
                    esos minutos de descanso que te das para cargar energias disfrutando de unos deliciosos
                    y crujientes snacks hechos por nosotros y preparados con esmero para brindarte la mejor
                    calidad y lograr ser tus favoritos.
                </p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/assets/img/app/family.jpeg" class="d-block mx-lg-auto img-fluid rounded-3 shadow-sm" alt="family happy" width="500" height="200" loading="lazy">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h2 class="display-5 fw-bold lh-1 mb-3">Nuestro equipo</h2>
                <p class="lead">Llegar a sus hogares y ser parte de sus momentos especiales, compartir alegrias,
                    esos minutos de descanso que te das para cargar energias disfrutando de unos deliciosos
                    y crujientes snacks hechos por nosotros y preparados con esmero para brindarte la mejor
                    calidad y lograr ser tus favoritos.
                </p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                          <img src="/assets/img/app/aboutUs.png" class="d-block mx-lg-auto img-fluid rounded-3 shadow-sm" alt="aboutus" width="300" height="100" loading="lazy">
                          <div class="card-body mx-auto">
                            <p class="card-text">Cajas Ballesteros, Joel Alexi</p>
                          </div>
                      </div>
       
                      <div class="col">
              
                          <img src="/assets/img/app/aboutUs.png" class="d-block mx-lg-auto img-fluid rounded-3 shadow-sm" alt="aboutus" width="300" height="100" loading="lazy">
                          <div class="card-body mx-auto">
                            <p class="card-text">Cieza Angulo, Carlos</p>
                          </div>
                       
                      </div>
                      <div class="col">
                       
                          <img src="/assets/img/app/aboutUs.png" class="d-block mx-lg-auto img-fluid rounded-3 shadow-sm" alt="aboutus" width="300" height="100" loading="lazy">
                          <div class="card-body mx-auto">
                            <p class="card-text">Quispe Arotinco, Fiorella</p>
                          </div>
                        
                      </div>
                      <div class="col">
                       
                          <img src="/assets/img/app/aboutUs.png" class="d-block mx-lg-auto img-fluid rounded-3 shadow-sm" alt="aboutus" width="300" height="100" loading="lazy">
                          <div class="card-body mx-auto">
                            <p class="card-text">Rivas Wang, Americo</p>
                          </div>
                        
                      </div>
                      <div class="col">
                    
                          <img src="/assets/img/app/aboutUs.png" class="d-block mx-lg-auto img-fluid rounded-3 shadow-sm" alt="aboutus" width="300" height="100" loading="lazy">
                          <div class="card-body mx-auto">
                            <p class="card-text">Torre Quispe, Josue</p>
                          </div>
                       
                      </div>
                </div>
            </div>
        </div>
    </div>
</main>
