<main class="flex-shrink-0">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Catálogo</h1>
      <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    </div>
  </section>
    <div class="container">
      <div class="d-flex justify-content-end mb-3 text-sm">
        <mat-paginator [length]="this.products.length"
                        [pageSize]="4"
                        [pageSizeOptions]="[3, 6, 14]"
                        (page)="OnPageChange($event)"
                        aria-label="Select page">
        </mat-paginator>
      </div>
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4 pb-5">
            <div *ngFor="let product of pageSlice" class="col">
                <div class="rounded-3 shadow-lg card-product">
                  <img src="/assets/img/app/habas.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="{{product['nombre']}}" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text card-text--description">
                        <p class="card-text fw-bold text-center mb-0">{{product['nombre']}}</p>
                        <p class="text-center mb-0">{{product['peso']}}</p>
                        <p class="text-center fw-bold">S/ {{product['precio']}}</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn" href="#">
                          <img src="/assets/img/shopping-cart.svg" alt="shopping-cart" width="13">
                          Comprar</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>

    </div>
</main>