<main class="flex-shrink-0">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3 py-5">
            <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/chifles_piuranos.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Chifles piuranos</h5>
                        <p class="text-center mb-0">250gr. S/ 7.80</p>
                        <p class="text-center">500gr. S/ 15.10</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/tocino.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Chicharron de tocino</h5>
                        <p class="text-center">250gr. S/ 7.80</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/habas.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Habas fritas y saladas</h5>
                        <p class="text-center mb-0">250gr. S/ 6.90</p>
                        <p class="text-center">500gr. S/ 13.30</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/papa_en_hojuela.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Papas en hojuelas</h5>
                        <p class="text-center mb-0">250gr. S/ 7.80</p>
                        <p class="text-center">500gr. S/ 15.10</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/camotes_fritos.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Camotes fritos</h5>
                        <p class="text-center mb-0">250gr. S/ 6.90</p>
                        <p class="text-center">500gr. S/ 13.30</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/mixto.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Mix de hojuelas</h5>
                        <p class="text-center mb-0">250gr. S/ 7.80</p>
                        <p class="text-center">500gr. S/ 15.10</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/trigo_atomico.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Trigo atómico o acaramelado</h5>
                        <p class="text-center mb-0">250gr. S/ 4.20</p>
                        <p class="text-center">500gr. S/ 7.90</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="rounded-3 shadow-sm card-product">
                  <img src="/assets/img/app/cancha_blanca.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                  <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-text fw-bold text-center text-uppercase">Cancha blanca</h5>
                        <p class="text-center mb-0">250gr. S/ 3.80</p>
                        <p class="text-center">500gr. S/ 7.00</p>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-dark" href="#">Comprar »</a>
                    </div>
                  </div>
                </div>
              </div>

     
   

          </div>

    </div>
</main>