<main class="flex-shrink-0">
  <div class="container">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3 py-5">
          <div class="col" *ngFor="let item of category" >
              <div class="rounded-3 shadow-sm card-product">
                <img src="/assets/img/app/product/{{item.code}}.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                <div class="card-body">
                  <div class="card-text">
                      <h5 class="card-text fw-bold text-center text-uppercase">{{item.name}}</h5>
                      <p class="text-center mb-0">{{item.weight}}  S/.{{item.price}}</p>
                  </div>
                  <div class="col text-center">
                      <a class="btn btn-dark" href="#">Comprar »</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </div>
</main>