<main class="flex-shrink-0">
    <div class="container mt-5 mb-5">
        <h2 class="pb-2 border-bottom">Packs</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            <div class="col">
                <img src="/assets/img/app/arma_tu_pack.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                <div class="col text-center mt-3">
                    <a class="btn btn-dark" href="/product/pack">Comprar »</a>
                </div>
            </div>
            <div class="col">
                <img src="/assets/img/app/pack_cumple.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                <div class="col text-center mt-3">
                    <a class="btn btn-dark" href="#">Comprar »</a>
                </div>
            </div>
        </div>
        <h2 class="mt-5 pb-2 border-bottom">Descuentos imperdibles</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            <div class="col">
                <img src="/assets/img/app/descuento_mani.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                <div class="col text-center mt-3">
                    <a class="btn btn-dark" routerLink="/catalogo">Comprar »</a>
                </div>
            </div>
            <div class="col">
                <img src="/assets/img/app/descuento_trigo.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                <div class="col text-center mt-3">
                    <a class="btn btn-dark" routerLink="/catalogo">Comprar »</a>
                </div>
            </div>
            <div class="col">
                <img src="/assets/img/app/descuento_papa.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="aboutus" width="300" height="100" loading="lazy">
                <div class="col text-center mt-3">
                    <a class="btn btn-dark" routerLink="/catalogo">Comprar »</a>
                </div>
            </div>
        </div>
    </div>
</main>
